{% extends "header.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  {% if dado %}
    <div class="dep">
        <div class="info-geral">
            <h2> {{ dado.geral.ultimoStatus.nomeEleitoral }}</h2>
            <div class="avatar">
                <img src=" {{ dado.geral.ultimoStatus.urlFoto }}">
            </div>
            <div class="partidos">
                <a href="/partido/{{ dado.idPartido }}">{{ dado.geral.ultimoStatus.siglaPartido }}</a> <br>
                <a href="/estado/{{ dado.geral.ultimoStatus.siglaUf }}"> {{ dado.geral.ultimoStatus.siglaUf }}<br> </a>
            </div>
            <div class="diversos">
                <div>
                    <img src="../static/calendar.svg" alt="Data de nascimento">
                    <span>{{dado.geral.dataNascimento}}</span>
                </div>
                <div>
                    <img src="../static/flag.svg" alt="Naturalidade">
                    <span> {{ dado.geral.ufNascimento }} </span>
                </div>
                <div>
                    <img src="../static/school.svg" alt="Escolaridade">
                    <span>{{dado.geral.escolaridade}}</span>
                </div>
            </div>
        </div>
        <div class="info-leg">
            <h2 style="text-transform: uppercase;">Legislaturas</h2>
            <div>
                <h3>Anos legislados</h3>
                <span class="number">{{ dado.qtLegislatura }}</span>
            </div>
            <div>
                <h3>Ao final do último mandato</h3>
                <span class="number">{{ dado.anosLegislando}}</span>
            </div>
            <div>
                <h3>Legislou pelo(s) Partido(s)</h3>
                {% for x in dado.partidos %}
                    <span>{{x}}</span>
                {% endfor %}
            </div>
            <div>
              <a href="/proposicoesAutor/{{ dado.geral.id }}">Proposições do Deputado</a>
            </div>
        </div>
        <div class="contato">
            <h2>CONTATE-O</h2>
            <div>
                <img src="../static/phone.svg">
                <span>{{dado.geral.ultimoStatus.gabinete.telefone}}</span>
            </div>
            <div>
                <img src="../static/mail.svg">
                <span>{{dado.geral.ultimoStatus.gabinete.email}}</span>
            </div>
            <div>
                <img src="../static/building.svg">
                <span>Prédio: {{dado.geral.ultimoStatus.gabinete.predio}}</span>
            </div>
            <div>
                <span>Sala: {{dado.geral.ultimoStatus.gabinete.sala}}</span>
            </div>
        </div>
    </div>
<!--     <div title="" class="container" id="graph" style="max-height: 400px;">
        <div id="idDeputado" title="{{ dado.geral.id }}"></div>
    </div>   -->  
  {% else %}
    <h4>Deputado não encontrado</h4>
  {% endif %}


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/deputado.js"></script>
{% endblock %}      