{% extends "header.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <span>---------------------------------------------</span>
  
  <h1>Index.html</h1>
  <h2>Resultado das pesquisas</h2>

  {% if dados %}
    {% for dado in dados %}
     <h4> {{ dado.nome }}</h4>
      {{ dado.uriPartido }} <br>
      {{ dado.uri }} <br>
      {{ dado.id }} <br>
      <a href="/deputado/{{ dado.id }}">pagina do deputado</a> <br>
      {{ dado.siglaPartido }}<br>
      <a href="/estado/{{ dado.siglaUf }}"> {{ dado.siglaUf }}<br> </a>
      {{ dado.idLegislatura }}<br>
      {{ dado.urlFoto }}<br>
    {% else %}
      <li><em>Pesquisa algo ai.</em>
    {% endfor %}
  {% else %}
    <h4>Deputado nao encontrado</h4>
  {% endif %}
{% endblock %}      