{% extends "header.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if dado %}
   <h4> {{ dado.nome }}</h4>
    <div class="avatar"><img src="{{ dado.urlFoto }}"></div>        
    <a href="/partido/{{ idPartido }}">{{ dado.siglaPartido }}</a> <br>
    <a href="/estado/{{ dado.siglaUf }}"> {{ dado.siglaUf }}<br> </a>
    {{ dado.idLegislatura }}<br>
    <a href="#">Proposições do Deputado</a>
  {% else %}
    <h4>Deputado não encontrado</h4>
  {% endif %}
{% endblock %}      