{% extends "header.html" %}
{% block body %}
  {% if error %}  <p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <div class="container" >
    <div id="results">  
      {% for dado in membrosPartido %}
       <div class="resultado pesquisa">
         {% if dado.siglaPartido%}
          <a href="/deputado/{{dado.id}}">
            <div class="avatar"><img src="{{dado.urlFoto}}"></div>        
            <span>{{dado.nome}}</span>
          </a>
        {% else %}
          {% if dado.semDados %}
          <h4>Pesquise pela sigla inteira do partido</h4>
          {% else %}
            <a href="/partido/{{dado.id}}">        
              <span>{{dado.sigla}}</span>
            </a>
          {% endif %}  
        {% endif %}
      </div>
      {% endfor %}
    </div>
  
  {% if membrosPartido %}
    <div id="paginadores">
      {% if membrosPartido[0].linkFirstPage %}
        <button name="{{membrosPartido[0].linkFirstPage}}" id="first">Primeira</button>
      {% else %}
        <button style="display: none" id="first">Primeira</button>
      {% endif %}
      {% if membrosPartido[0].linkPreviousPage %}
        <button name="{{membrosPartido[0].linkPreviousPage}}" id="previous">Anterior</button>
      {% else %}
        <button style="display: none" id="previous">Anterior</button>
      {% endif %}
      {% if membrosPartido[0].linkNextPage %}
        <button name="{{membrosPartido[0].linkNextPage}}" id="next">Proxima</button>
      {% else %}
        <button style="display: none" id="next">Proxima</button>
      {% endif %}
      {% if membrosPartido[0].linkLastPage %}
        <button name="{{membrosPartido[0].linkLastPage}}" id="last">Ultima</button>
      {% else %}
        <button style="display: none" id="last">Ultima</button>
      {% endif %}
    </div>
  </div>
  {% endif%}
    {% include "loader.html" %}
  <script type="text/javascript" src="../static/js/estado.js"></script>
{% endblock %}  
