{% extends "header.html" %}
{% block body %}
  {% if error %}  <p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <span>---------------------------------------------</span>
  
  <h1>Partido.html</h1>
  <h2>Resultado das pesquisas</h2>

  {% for membro in membrosPartido %}
    <div>
      <a href="/deputado/{{ membro.id }}">
        <img src="{{ membro.urlFoto}}" alt="">
        <h5> {{ membro.nome }} </h5>
      </a> 
      <a href="/partido/{{ membro.id }}"><h5> {{ membro.siglaPartido }} </h5></a> 
    </div>
  {% else %}
    <i>Não existe ninguém aqui</i>
  {% endfor %}
{% endblock %}  
