{% extends "header.html" %}
{% block body %}
  {% if error %}  <p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <span>---------------------------------------------</span>
  
  <h1>Partido.html</h1>
  <h2>Resultado das pesquisas</h2>

  {% if dados %} 
   <h4> {{ dados.sigla }}</h4>
    {{ dados.id }} <br>
    {{ dados.nome }}<br> 
    {{ dados.status.totalPosse }}<br>
    <h4>Lider</h4>
    {{ dados.status.lider.nome }}<br>
    {{ dados.status.lider.uf }}<br>
    <h4>Membros Legislando</h4>
    {{ dados.status.totalMembros }}<br>
  {% else %}
    Não encontrei seu partido
  {% endif %}

  {% for membro in membrosPartido %}
    <a href="/deputado/{{ membro.id }}"><h5> {{ membro.nome }} </h5></a> 
    {{ membro.siglaUf }} <br> 
  {% else %}
    <i>Não existe ninguém aqui</i>
  {% endfor %}
{% endblock %}  
