{% extends "header.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <span>---------------------------------------------</span>
  
  <h1>Partidos.html</h1>
  <h2>Resultado das pesquisas</h2>

  {% if dados %}
    {% for dado in dados %}
     <h4> {{ dado.sigla }} </h4>
      <a href="/partido/{{ dado.id }}">pagina do Partido</a> <br>
      {{ dado.id }} <br>
      {{ dado.nome }}
      <br>    
    {% else %}
      <li><em>Pesquisa algo ai.</em>
    {% endfor %}
  {% else %}
    <h4>Partido nao encontrado</h4>
  {% endif %}
{% endblock %}  