<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
  <title>Deputados mais tops do Brasil</title>
</head>
<body>
  <div class="container">
    <div>
      <h1>PESQUISAR POR</h1>
    </div>
    {% if dados %}
      <div id="name" >
        <div class="select-style">
          <select name="cargo">
            <option value="Deputados">Deputados</option>
            <option value="Partidos">Partidos</option>
          </select>
        </div>
        <label for="s-option">DIGITE</label>
        <input value="{{ request['pesquisa'] }}" type="" name="name">
        <button id="search">pesquisar</button>
      </div>

      <div id="type" style="display: none">
        <ul>
            {% if dados[0].siglaPartido %}
            <li>  
              <input type="radio" id="f-option" name="selector" value="deputados" checked="checked">
              <label for="f-option">Deputados</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="s-option" name="selector" value="partidos">
              <label for="s-option">Partidos</label>
              <div class="check"><div class="inside"></div></div>
            </li>
            {% else %}
            <li>  
              <input type="radio" id="f-option" name="selector" value="deputados">
              <label for="f-option">Deputados</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="s-option" name="selector" value="partidos" checked="checked">
              <label for="s-option">Partidos</label>
              <div class="check"><div class="inside"></div></div>
            </li>
            {% endif %}
        </ul>
      </div>
    {% else %}
      <div id="type">
        <ul>
          <li>
            <input type="radio" id="f-option" name="selector" value="deputados">
            <label for="f-option">Deputados</label>
            <div class="check"></div>
          </li>
          <li>
            <input type="radio" id="s-option" name="selector" value="partidos">
            <label for="s-option">Partidos</label>
            <div class="check"><div class="inside"></div></div>
          </li>
        </ul>
      </div>
      
      <div id="name" style="display: none">
        <div class="select-style">
          <select name="cargo">
            <option value="Deputados">Deputados</option>
            <option value="Partidos">Partidos</option>
          </select>
        </div>
        <input type="" name="name">
        <label for="s-option">DIGITE</label>
        <button id="search">pesquisar</button>
      </div>
    {% endif %}

    <div id="semRetorno" style="display: none">
      <h3></h3> Tente pesquisar denovo</h3>
    </div>
    
    <div id="results">  
      {% for dado in dados %}
       <div>
         {% if dado.siglaPartido%}
          <a href="/deputado/{{dado.id}}">
            <div class="avatar"><img src="{{dado.urlFoto}}"></div>        
            <div class="name">{{dado.nome}}</div>
          </a>
        {% else %}
          <a href="/partido/{{dado.id}}">        
            <div class="name">{{dado.sigla}}</div>
          </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    
    {% if dados %}
      <div id="paginadores">
        {% if dados[0].linkFirstPage %}
          <button name="{{dados[0].linkFirstPage}}" id="first">Primeira</button>
        {% endif %}
        {% if dados[0].linkPreviousPage %}
          <button name="{{dados[0].linkPreviousPage}}" id="previous">Anterior</button>
        {% endif %}
        {% if dados[0].linkNextPage %}
          <button name="{{dados[0].linkNextPage}}" id="next">Proxima</button>
        {% endif %}
        {% if dados[0].linkLastPage %}
          <button name="{{dados[0].linkLastPage}}" id="last">Ultima</button>
        {% endif %}
      </div>
    {% else %}
      <div id="paginadores">
        <button id="first" style="display: none">Primeira</button>
        <button id="previous" style="display: none">Anterior</button>
        <button id="next" style="display: none">Proxima</button>
        <button id="last" style="display: none">Ultima</button>
      </div>
      {% endif%}
    {% include "loader.html" %}

  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/../static/principal.js"></script>
</body>
</html>