{% extends "header.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  <h3>Proposições</h3>

  {% if dados %}
    <div class="proposicoes">
    {% for dado in dados %}
        <div>
          <h3>{{dado.siglaTipo}} {{ dado.numero }}/{{ dado.ano }}</h3>
          <span>{{ dado.ementa }}</span>
        </div>
        <div style="margin-top: 10px">
          <a href="/proposicao/{{ dado.id }}"><span>Mais detalhes</span></a>
        </div>
        
        <hr/>
    {% else %}
      <li><em>Pesquisa algo ai.</em>
    {% endfor %}
    </div>
  {% else %}
    <h3>Nada encontrado</h3>
  {% endif %}
{% endblock %}  